<div class="nectar-global-section" data-gs="GS-Paslaugos" data-location="inline" data-salient="Global Section „GS-Paslaugos“ (Global Section element) · Link rows ×11">
  <div class="wpb_row" data-type="full_width_content" data-salient="Row → Type: Full Width Content · Padding 0">
    <div class="row_col_wrap_12">
      <div class="wpb_column vc_col-sm-12" data-el-space="none">
        <div class="vc_column-inner">
{{paslaugos:rows|tone={{param:tone=P}}}}
        </div>
      </div>
    </div>
  </div>
</div>
