<!DOCTYPE html>
<html lang="lt">
<head>
{{partial:head}}
</head>
<body class="{{page:body_class}}" data-kit="salient" data-button-style="slightly_rounded_shadow" data-form-style="minimal" data-header-format="default">
{{partial:header}}
<div id="ajax-content-wrap">
<main id="main" class="container-wrap" tabindex="-1">
{{page:salient}}
{{page:content}}
</main>
{{partial:gs-poraste}}
</div>
{{partial:gs-skambuciu-juosta}}
<a id="to-top" href="#main" aria-label="Į puslapio viršų" data-salient="Theme Options → General Settings → Functionality → Back To Top Button ✓ · Keep On Mobile ✗ (appears after 350 px)">{{icon:arrow-up}}</a>
{{partial:cookie}}
{{partial:demo}}
{{partial:scripts}}
</body>
</html>
